<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <display-name>Welcome to Tomcat</display-name>
    <description>
        Welcome to Tomcat
    </description>

    <servlet>
        <servlet-name>kk</servlet-name>
        <servlet-class>servlet.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kk</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>t</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>t</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>




    <servlet>
        <servlet-name>userInfo</servlet-name>
        <servlet-class>servlet.UserInfo</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userInfo</servlet-name>
        <url-pattern>/UserInfo.do</url-pattern>
    </servlet-mapping>



    <context-param>
        <param-name>mySqlUrl</param-name>
        <param-value>jdbc:mysql://127.0.0.1:3307/jsp_servlet_test</param-value>
    </context-param>
    <context-param>
        <param-name>mySqlUserName</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>mySqlPassword</param-name>
        <param-value>mysql</param-value>
    </context-param>



    <listener>
        <listener-class>
            listener.MyServletContextListener
        </listener-class>

    </listener>

</web-app>
